*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

header nav .nav-rigth-section li a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 98, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}


header{
    position: relative;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px 1px #a5a5a5;

}

.nav-container{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color:#ffffff;
    justify-content: space-evenly;
    align-items: center;

}

.nav-rigth-section {
    display: flex;
    list-style: none;
    text-align: center;
} 

.nav-rigth-section li{
    width: 120px;
    height: 45px;
    color:rgb(0, 98, 226);
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-top: 14px;

    
}

i{
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
}

header nav .nav-rigth-section li:hover{
    box-shadow: 0 0 5px 1px #a5a5a5;
    transition: .2s;
}

header nav .nav-rigth-section .home{
    box-shadow: 0 0 5px 1px #a5a5a5;
}

/*----------------------main----------------------*/

main{
    width: 100%;
    height: 85vh;
    background-image: url(./fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}


main .main-text h1{
    width: 50%;
    height: 50px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    color: #ffffff;
    margin-top: 20px;
    background: rgba(0, 98, 226, 0.6);
    
}

main .main-text .subtitle{
    display: flex;
}

main .main-text .subtitle div{
    width: 25%;

}

main .main-text .subtitle p{
    width: 75%;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px ;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(114, 114, 114, .6);
    
}



main .box1, .box2{
    margin-top: 20px;
    width: 250px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    
}

.boxes a{
    text-decoration: none;
    color: #ffffff;
}


main .box1{
    background-color: rgba(114, 114, 114, .8) ;

}

main .box2{
    background-color: rgba(0, 98, 226, 0.8)
}

main .boxes{
    display: flex;
    justify-content: center;
}

main .boxes h2{
    margin: 10px;
    font-size: 2rem;
}

main .boxes p{
    font-size: 1.4rem;
}


.boxes i{
    font-size: 5rem;

}

/*----------------------footer----------------------*/

footer{
    background-color: rgb(156, 156, 156);
    height: 39px;

}

footer .location{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 12px;
    color: rgb(51, 51, 51);
}